
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()"  novalidate >
    <div class="form-row" >
      <div class="col-sm-6 form-group ">       
        <input type="text" class="form-control" placeholder="E mail" 
          formControlName="login"    />  
      </div>
    <div>
      <div  class="col s4">
        <button type="submit"  class="btn btn-success pull-right"
          [disabled]="!resetPasswordForm.valid" >Reset Password</button>
      </div>      
      <div class="col s4">
        <button type="button" class=" btn lime lightern-1 pull-right close_btn " (click)="modalClose()">Close</button>
       
      </div>
    </div>
  </div>
  </form>

