<div class="col-sm-12 justify-content-center " >
  <div class="col-sm-2" ></div>
<div class=" col-sm-8 ">

  <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()" novalidate>
    <div class="col-sm-12" >
      <div class="col-sm-6 form-group ">
        <input type="password" class="form-control" placeholder="password" formControlName="password" />
      </div>
      <div class="col-sm-6 form-group ">
        <input type="password" class="form-control" placeholder="confirm password"
          formControlName="passwordConfirmation" />
      </div>
    </div>
    
    <div class="col-sm-12" >
      <div class="col s4">
        <button type="submit" class="btn btn-success pull-right" [disabled]="!updatePasswordForm.valid">Update
          Password</button>
      </div>
      <div class="col s4">
        <button type="button" class=" btn lime lightern-1 pull-right close_btn " (click)="modalClose()">Close</button>

      </div>
    </div>

  </form>
</div>
</div>